/*header */
.hyper{ 
    background-color: rgb(0, 123, 255); 
    border: 5px solid; 
    border-color: rgba(255, 255, 255, 0); 
    color: white; 
    position: absolute; 
    z-index: 2; 
    padding: 7px 5px; 
    border-radius: 5px; 
    text-decoration: none;
    margin-left: 1%;
} 
.headpart{ 
    margin: 10px; 
    padding-bottom: 30px; 
}  
.g{ 
    float: left; 
    margin-left: 70px; 
    margin-top: 5px; 
    font-size: 25px; 
} 

.hyperlink{ 
    float: right; 
    margin-right: 140px; 
} 
.hyper:hover{ 
    background-color: #056ad7; 
} 
.hyper:active{ 
    border: 5px solid rgba(98, 165, 243, 0.484); 
} 


.block1{ 
    background-image: url(https://learn.seytech.co/assets/projects/html-css/projects/3-landing/img/bg-masthead.jpg); 
    height: 100vh; 
    background-size: cover; 
    text-align: center!important; 
} 

.fortext{
    position: relative; 
    top: 40%; 
}
.textinblock{ 
    color: white; 
    font-weight: 700; 
    font-size: 50px; 
    padding: 0% 13% 0% 13%; 
    margin-bottom: 50px; 
} 
.textblock{ 
    padding: 2vh 25vh; 
    border-radius: 5px; 
    font-size: 20px; 
}

/*footer*/
.block2{ 
    background-image: url(https://learn.seytech.co/assets/projects/html-css/projects/3-landing/img/bg-masthead.jpg); 
    background-position: center;
    height: 40vh; 
    background-size: cover; 
    text-align: center!important; 
} 
.fortext2{
    position: relative; 
    top: 30%; 
}

h1{
    color: white; 
    font-weight: 700; 
    font-size: 30px; 
    padding: 0% 13% 0% 13%;  
    margin-bottom: 20px; 
}

#footer {
    padding: 30px;
    background-color: #f9f9f9; 
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333; 
}
  
.links a {
    text-decoration: none;
    color: rgb(5, 106, 215);
    margin: 10px 5px;
  }
  
.footer-text {
    color: #666; 
}
  
.footer-social {
    float:right;
  }
